.topnav {
  background-color: white;
}
.topnav a {
  color: black;
  font-size: 16px;
}
.topnav a:hover {
  background-color: white
  color: black;
}

body {
  background-color: lightblue;
}

.bigText{
  font-size: 24px;
  color:white;
}
